@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  padding: 30px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.pacifico {
  font-family: "Pacifico", cursive;
}
