@charset "UTF-8";

.style1 {
  list-style-type: square;
}

.position1 {
  list-style-position: inside;
}

.style2 {
  list-style-image: url("icon.png");
}

.position2 {
  margin-bottom: 5px;
}

.style3 {
  list-style-type: decimal-leading-zero;
}

.position3 {
  list-style-position: outside; 
}
